@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

$white: #fff;
$lightblue: #ecf6ff;
$secondary-nav: #38598a;
$primary-blue: #036;
$dark-green: #205d38;
$calc-blue: #c7e3fd;
$calc-green: #aee5ba;
$form-grey: #f2f2f2;
$form-invalid: #d8292f;

$header-height: 6.313rem;
$mn-font-size: 0.875rem; // 14 px
$mn-dropdown-menu-size: 0.875rem; // 14 px
$mn-border-color: #5f79a2;
$mn-color: #fff;
$mn-hover-color: $bcgold;
